.MinicartRelated {
    z-index: -1;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff;
    height: 100vh;
    width: 100%;
    max-width: 300px;
    white-space: break-spaces;
    transform: translateX(-100%);
    transition: 1s ease all;
    height: 100vh;
    overflow-y: scroll;
    @media screen and (min-width:1026px){
        .vtex-flex-layout-0-x-flexRowContent--minicart-product-list {
            display: flex;
            flex-direction: column;
            >.vtex-flex-layout-0-x-stretchChildrenWidth {
                width: 100% !important;
            }
            .vtex-flex-layout-0-x-stretchChildrenWidth {
                .vtex-modal-layout-0-x-triggerContainer.vtex-modal-layout-0-x-triggerContainer--quickview-trigger {
                    opacity: 1 !important;
                    margin-bottom: 1rem;
                    .vtex-rich-text-0-x-paragraph {
                        margin: 0;
                    }
                }
            }
        }
        .vtex-product-summary-2-x-container .vtex-flex-layout-0-x-flexRowContent--minicart-product-list {
            display: grid;
            grid-template-columns: 40% 1fr;
            gap: .5rem;
            padding-right: .5rem;
        }
        
        .vtex-product-summary-2-x-container .vtex-flex-layout-0-x-flexRowContent--minicart-product-list .vtex-flex-layout-0-x-stretchChildrenWidth {
            width: initial !important;
        }
        .vtex-product-summary-2-x-container .vtex-stack-layout-0-x-stackContainer--product-badge,
        .vtex-product-summary-2-x-container .vtex-flex-layout-0-x-flexRowContent--minicart-product-list .vtex-flex-layout-0-x-stretchChildrenWidth .vtex-stack-layout-0-x-stackItem--product-badge,
        .vtex-product-summary-2-x-container .vtex-flex-layout-0-x-flexRowContent--minicart-product-list .vtex-flex-layout-0-x-stretchChildrenWidth .vtex-product-summary-2-x-imageContainer.vtex-product-summary-2-x-imageWrapper,
        .vtex-product-summary-2-x-container .vtex-flex-layout-0-x-flexRowContent--minicart-product-list .vtex-flex-layout-0-x-stretchChildrenWidth .vtex-store-components-3-x-discountContainer,
        .vtex-product-summary-2-x-container .vtex-flex-layout-0-x-flexRowContent--minicart-product-list .vtex-flex-layout-0-x-stretchChildrenWidth .vtex-product-summary-2-x-imageContainer {
            height: 100% !important;
        }   
        
    }
    @media screen and (max-width:1025px){
        //display: none;
        z-index: 0;
        position: relative;
        max-width: unset;
        transform: none;
        height: auto !important;
        overflow: visible;
        order: 2;
        .productList {
            margin: 0 .5rem !important;
            overflow: hidden;
            position: relative;
            .slick-slide {
                >div {
                    height: 100%;
                }
            }
            .slick-list {
                padding: 0 !important;
            }
            .slick-track {
                display: flex !important;
                .vtex-product-summary-2-x-element {
                    
                    .vtex-stack-layout-0-x-stackContainer--product-badge {
                        * {
                            padding: 0;
                        }
                        .vtex-product-summary-2-x-imageContainer .vtex-product-summary-2-x-imageStackContainer.vtex-product-summary-2-x-imageContainer .vtex-product-summary-2-x-image{
                            min-height: initial !important;
                        }
                    }

                    
                    .vtex-product-price-1-x-installments {
                        display: none;
                    }
                    
                    .vtex-reviews-and-ratings-3-x-summaryContainer {
                        display: none;
                    }
                    
                    .vtex-modal-layout-0-x-triggerContainer--quickview-trigger {
                        opacity: 1 !important;
                    }
                    .vtex-product-summary-2-x-productBrand.vtex-product-summary-2-x-brandName {
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                    .vtex-modal-layout-0-x-triggerContainer--quickview-trigger {
                        background: none;
                        .vtex-rich-text-0-x-container {
                            .vtex-rich-text-0-x-wrapper {
                                .vtex-rich-text-0-x-paragraph {
                                    margin: 0 !important;
                                    border-radius: 0 !important;
                                    background-color: transparent !important;
                                    font-size: 0 !important;
                                    font-weight: 300 !important;
                                    justify-content: flex-end;
                                    align-items: flex-end;
                                    &::before {
                                        content: 'Agregar al carro +';
                                        font-size: 14px;
                                    }
                                }
                            }
                        }                        
                    }
                    .vtex-product-summary-2-x-imageContainer {
                        .vtex-product-summary-2-x-imageStackContainer.vtex-product-summary-2-x-imageContainer {
                            .vtex-product-summary-2-x-image {
                                min-height: initial !important;
                            }
                        }
                    }
                    .vtex-stack-layout-0-x-stackItem--product-badge,
                    .vtex-product-summary-2-x-imageContainer.vtex-product-summary-2-x-imageWrapper,
                    .vtex-store-components-3-x-discountContainer,
                    .vtex-product-summary-2-x-imageContainer {
                        height: 100% !important;
                    }                    
                }
            }
            .slick-arrow.slick-next {
                right: 0 !important;
            }
            .slick-arrow.slick-prev {
                left: 0 !important;
                z-index: 1;
            }
        }  
    }
}

.vtex-flex-layout-0-x-flexRow.vtex-flex-layout-0-x-flexRow--freeshipping-bar.vtex-flex-layout-0-x-flexRow--freeshipping-bar-minicart {
    z-index: 1;
    background: #fff;
}
.vtex-minicart-2-x-minicartContentContainer.vtex-minicart-2-x-drawerStyles.flex.flex-column.justify-between {
    z-index: 2;   
    background: #fff;
}

.vtex-minicart-2-x-drawer.vtex-minicart-2-x-closed .MinicartRelated,
.MinicartRelated[data-items="0"]{
    transform: translateX(0%) scaleX(0);
}

.MinicartRelated .title {
    padding: 0;
    margin: 0;
    padding-left: 0.75rem;
    padding-right: 1.5rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    color: #3f3f40;
    font-family: Fabriga, -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    text-transform: none;
    letter-spacing: 0;
    justify-content: flex-start;
    &:empty{
        display: none;
    }
    @media screen and (max-width:1025px){
        font-size: 1rem;
        margin: 1rem 0;        
    }
}


.MinicartRelated .vtex-product-summary-2-x-container .vtex-product-summary-2-x-nameContainer {
    font-family: "SourceSansPro-Black", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color: black;
    padding-top: 0;
}


.MinicartRelated .vtex-modal-layout-0-x-triggerContainer--quickview-trigger,
.MinicartRelated .vtex-modal-layout-0-x-triggerContainer--quickview-trigger .vtex-rich-text-0-x-container,
.MinicartRelated .vtex-modal-layout-0-x-triggerContainer--quickview-trigger .vtex-rich-text-0-x-container .vtex-rich-text-0-x-wrapper,
.MinicartRelated .vtex-modal-layout-0-x-triggerContainer--quickview-trigger .vtex-rich-text-0-x-container .vtex-rich-text-0-x-wrapper .vtex-rich-text-0-x-paragraph {
    width: 100%;
    margin: 0;
}

.MinicartRelated .vtex-modal-layout-0-x-triggerContainer--quickview-trigger .vtex-rich-text-0-x-container .vtex-rich-text-0-x-wrapper .vtex-rich-text-0-x-paragraph{
    margin: 0.5rem;
    color: #000;
    font-size: 15px;
    font-family: "SourceSansPro-Black";   
display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffcc00;
    width: 95%;
    margin: 0.5rem auto 1rem;
    border-radius: 6px;
    height: 38px;
}